.welcome {
    text-align: center;
    color: white;
    top:2%;
    position: relative;
    font-size: 38px;
}


.mccube1 {
    height: 200px;
    width: 200px;
    background-color: #1f2421d8;
    position: relative;
    z-index: 4;
    transform: translate(-50%, -50%);
    top: -1300px;
    border-radius: 15px;
    box-shadow: #000000 5px 5px 15px;
    transition: 0.5s;
    img {
        transform: translate(-50%, -5%);
        left: 50%;
        position: relative;
        height: 150px;
        transition: 0.5s;
    }    
    a {
        padding: 100px;
        position: absolute;
        z-index: 7;
    }    
    .mch1 {
        font-size: 20px;
        color: white;
        position: relative;
        top: 5px;
        text-align: center;
        transition: 0.5s;
}
}

.mccube1:hover {
    height: 190px;
    width: 190px;
    background-color: #1f2421d8;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: #000000 5px 5px 15px;
    transition: 0.5s;
    img {
        transform: translate(-50%, -5%);
        left: 50%;
        position: relative;
        height: 140px;
        transition: 0.5s;
    }
    .mch1 {
        font-size: 18px;
        color: white;
        position: relative;
        top: 5px;
        text-align: center;
        transition: 0.5s;
}
}
.mccube2 {
    height: 200px;
    visibility: visible;
    width: 200px;
    background-color: #1f2421d8;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: #000000 5px 5px 15px;
    transition: 0.5s;
    z-index: 4;
    top: -1300px;
    img {
        transform: translate(-50%, -5%);
        left: 50%;
        position: relative;
        height: 150px;
        transition: 0.5s;
    }
    a {
        padding: 100px;
        position: absolute;
        z-index: 7;
    }     
    .mch1 {
        font-size: 20px;
        color: white;
        position: relative;
        top: 5px;
        text-align: center;
        transition: 0.5s;
}
}

.mccube2:hover {
    height: 190px;
    visibility: visible;
    width: 190px;
    background-color: #1f2421d8;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: #000000 5px 5px 15px;
    transition: 0.5s;
    img {
        transform: translate(-50%, -5%);
        left: 50%;
        position: relative;
        height: 140px;
        transition: 0.5s;
    }
    .mch1 {
        font-size: 18px;
        color: white;
        position: relative;
        top: 5px;
        text-align: center;
        transition: 0.5s;
}
}

.changelogcontainer {
    position: relative;
    width: 800px;
    padding-bottom: 15px;
    background-color: #1f2421d8;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    left: 50%;
    top: 10%;
    border-radius: 50px;
    box-shadow: 8px 8px 15px black;
    h1 {
        text-align: center;
        position: relative;
        top: 15px;
        color: white;
    }
    h2 {
        padding-left: 15px;
        color: white;
    }
    li {
        color: white;
        position: relative;
        margin-left: 30px;
    }
    ol {
        color: white;
        position: relative;
    };
    .chdata {
        text-align: center;
        position: relative;
        color: white;
        font-size: 10px;
        bottom: -20px;
    }
}

@media all and (min-width: 2000px) {
    .welcome {
        text-align: center;
        color: white;
        top:2%;
        position: relative;
        font-size: 47.5px;
    }
    
    .mccube1 {
        height: 250px;
        width: 250px;
        position: relative;
        transition: 0.5s;
        img {
            transform: translate(-50%, -5%);
            left: 50%;
            position: relative;
            height: 187.5px;
            transition: 0.5s;
        }    
        a {
            padding: 125px;
            position: absolute;
            z-index: 7;
        }    
        .mch1 {
            font-size: 25px;
            color: white;
            position: relative;
            top: 6.25px;
            text-align: center;
            transition: 0.5s;
    }
    }
    
    .mccube1:hover {
        height: 237.5px;
        width: 237.5px;
        position: relative;
        transition: 0.5s;
        img {
            transform: translate(-50%, -5%);
            left: 50%;
            position: relative;
            height: 175px;
            transition: 0.5s;
        }
        .mch1 {
            font-size: 22.5px;
            color: white;
            position: relative;
            top: 6.25px;
            text-align: center;
            transition: 0.5s;
    }
    }
    .mccube2 {
        height: 250px;
        width: 250px;
        position: relative;
        transition: 0.5s;
        img {
            transform: translate(-50%, -5%);
            left: 50%;
            position: relative;
            height: 187.5px;
            transition: 0.5s;
        }
        a {
            padding: 125px;
            position: absolute;
            z-index: 7;
        }     
        .mch1 {
            font-size: 25px;
            color: white;
            position: relative;
            top: 6.25px;
            text-align: center;
            transition: 0.5s;
    }
    }
    
    .mccube2:hover {
        height: 237.5px;
        width: 237.5px;
        position: relative;
        transition: 0.5s;
        img {
            transform: translate(-50%, -5%);
            left: 50%;
            position: relative;
            height: 175px;
            transition: 0.5s;
        }
        .mch1 {
            font-size: 22.5px;
            color: white;
            position: relative;
            top: 6.25px;
            text-align: center;
            transition: 0.5s;
    }
    }
    
    .changelogcontainer {
        position: relative;
        width: 1000px;
        padding-bottom: 18.75px;
        background-color: #1f2421d8;
        transform: translate(-50%, -50%);
        margin-bottom: 20px;
        left: 50%;
        top: 10%;
        border-radius: 50px;
        box-shadow: 8px 8px 15px black;
        h1 {
            text-align: center;
            position: relative;
            top: 15px;
            color: white;
            font-size: 37.5px;
        }
        h2 {
            padding-left: 15px;
            color: white;
        }
        li {
            color: white;
            position: relative;
            margin-left: 30px;
            font-size: x-large;
        }
        ol {
            color: white;
            position: relative;
            font-size: large;
        };
        .chdata {
            text-align: center;
            position: relative;
            color: white;
            font-size: 12.5px;
            bottom: -20px;
        }
    }
}

