h2 {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    top: -5px;
    padding-left: 4px;
    position: relative;
    color: #a1a1a1;
}

.best {
    display: inline-block;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 6px;
    border-radius: 1.25em;
    background-color: #edeff1;
}

.best span {
    position: relative;
}

.best:hover {
    background-color: #dadbdb;
}

.best h2 {
    display: inline-block;
    color: rgb(57, 136, 255);
}

.hot {
    display: inline-block;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 6px;
    border-radius: 1.25em;
}

.hot span {
    position: relative;
    top: 1px;
}

.hot h2 {
    display: inline-block;
}

.hot:hover {
    background-color: #edeff1;
}

.new {
    display: inline-block;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 6px;
    border-radius: 1.25em;
}

.new span {
    position: relative;
    top: 1px;
}

.new h2 {
    display: inline-block;
}

.new:hover {
    background-color: #edeff1;
}

.top {
    display: inline-block;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 6px;
    border-radius: 1.25em;
}

.top span {
    position: relative;
    top: 1px;
}

.top h2 {
    display: inline-block;
}

.top:hover {
    background-color: #edeff1;
}

.more {
    display: inline-block;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 1.25em;
}

.more span {
    position: relative;
    top: 1px;
    left: 0.5px;
}

.more:hover {
    background-color: #edeff1;
}

.displayexp {
    margin-right: 25px;
    display: inline;
    padding-top: 3px;
    padding-right: 6px;
    padding-left: 10px;
    border-radius: 1.25em;
    float: right;
}

.displayexp span {
    position: relative;
    top: 1px;
    left: 0.5px;
}

.displayexp:hover {
    background-color: #edeff1;
}

.comm {
    height: 25px;
    padding: 3px;
    border-radius: 3px;
}

.comm h2{
    display: inline;
    position: relative;
    top: -8px;
}

.comm:hover {
    background-color: #edeff1;
}

.share {
    height: 25px;
    padding: 3px;
    border-radius: 3px;
}

.share h2{
    display: inline;
    position: relative;
    top: -8px;
}

.share:hover {
    background-color: #edeff1;
}

.save {
    height: 25px;
    padding: 3px;
    border-radius: 3px;
}

.save h2{
    display: inline;
    position: relative;
    top: -8px;
}

.save:hover {
    background-color: #edeff1;
}

.moore {
    height: 25px;
    padding: 3px;
    border-radius: 3px;
}

.moore h2{
    display: inline;
    position: relative;
    top: -8px;
}

.moore:hover {
    background-color: #edeff1;
}